<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/_template.css">
    <title>{{ titulo }}</title>
</head>

<body>

    <div id="wrap">

        {# Cabeçalho do template #}
        <header>
            <a href="/">
                <i class="fa-solid fa-cubes fa-fw"></i>
                <h1>{{ titulo }}</h1>
            </a>
        </header>

        <nav>
            <a href="/">Lista</a>
            <a href="/novo">Novo</a>
            <span>
                Olá Joca!
                <button><i class="fa-solid fa-xmark fa-fw"></i></button>
            </span>
        </nav>

        <main>

<h2>Título de teste</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem labore officia tenetur vero, laudantium fugit vel ex, doloremque omnis nesciunt tempore asperiores provident nulla laborum eius esse. Delectus, quidem voluptates!</p>

        </main>

        <footer>
            <i class="fa-regular fa-copyright fa-rotate-180 fa-fw"></i>
            Copyleft 2024 Joca da Silva
        </footer>

    </div>

</body>

</html>