{# Inclui o template principal nesta página #}
{% extends '_template.html' %}

{# Bloco com conteúdo desta página #}
{% block conteudo %}

<h2>Lista de Trecos</h2>

<div class="lista">

    {% for treco in trecos %}

    <div class="item">
        <a href="{{ treco.t_foto }}" target="_blank"><img src="{{ treco.t_foto }}" alt="{{ treco.t_nome }}"></a>
        <div>
            <a class="apaga" href="/apaga/{{ treco.t_id }}" onclick="return confirm('Term certeza que deseja apagar este treco?')">
                <i class="fa-regular fa-trash-can fa-fw"></i>
            </a>
            <h4>{{ treco.t_nome }}</h4>
            {{ treco.t_descricao }}
            <small>Local: {{ treco.t_localizacao }}</small>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}